

@font-face {
	font-family: 'iosevka-web';
	font-display: block;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-light.ttf') format('truetype'), url('woff2/iosevka-light.woff2') format('woff2');
}




@font-face {
	font-family: 'iosevka-web';
	font-display: block;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-regular.ttf') format('truetype'), url('woff2/iosevka-regular.woff2') format('woff2');
}


@font-face {
	font-family: 'iosevka-web';
	font-display: block;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-medium.ttf') format('truetype'), url('woff2/iosevka-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-web';
	font-display: block;
	font-weight: 600;
	font-stretch: normal;
	font-style: semibold;
	src: url('ttf/iosevka-semibold.ttf') format('truetype'), url('woff2/iosevka-semibold.woff2') format('woff2');
}

@font-face { 
	font-family: 'iosevka-web';
	font-display: block;
	font-weight: 700;
	font-stretch: normal;
	font-style: bold;
	src: url('ttf/iosevka-bold.ttf') format('truetype'), url('woff2/iosevka-bold.woff2') format('woff2');
}

